body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar { 
  width: 100%; 
  background-color: #7BA3D7;
  min-width: 700px; /* Ideally would auto shift buttons and search bar instead */
  height: 50px;
  color: white;
}

.navbar-icons {
  height: 20px;
  padding: 15px 15px;
  float: left;
}
.navbar-buttons {
  height: 30px;
  width: 80px;
  border: white solid 3px;
  margin: 10px 5px;
  padding: 0 10px;
  float: right;
  font-size: 15px;
}

#signin-button, #create-post-button {
  background-color: transparent;
  color: white;
}
#signup-button {
  background-color: white;
  color: grey;
  margin-right: 15px;
}
#create-post-button {
  width: auto;
}

#nav-logo, #nav-brand{
  padding: 5px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}
#nav-searchbar {
  height: 25px;
  border: white solid 3px;
  margin: 10px 5px;
  padding: 0 10px;
  float: right;
  font-size: 15px;
}

.dropshadow {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
}

p {
  margin: 0;
}

#nav-menu-icon {
  position: relative; 
  z-index: 10; 
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

#profile-button {
  height: 25px;
  width: 25px;
  border: white solid 3px;
  margin: 10px 5px;
  padding: 0px;
  float: right;
  border-radius: 50%;
  margin-right: 15px;
  position: relative; 
  z-index: 20; 
  background-color: #7BA3D7;
}

#create-post-plus-icon {
  height: 15px; 
  position: relative; 
  top: 2px;
  padding: 0 5px 0 0;
  cursor: pointer;
}
button:hover, #profile-button:hover, #nav-menu-icon:hover {
  position: relative;
	bottom: 2px;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.4));
}
button:active, #profile-button:active, #nav-menu-icon:active {
  position: relative;
	top: 2px;
}
